@import "../../themes/sbca-global-colors.less";

.app-account-menu-inner {
  .ant-menu-inline .ant-menu-item:not(:last-child) {
    margin: 0;
  }
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: transparent;
  }
  .app-account-menu > .ant-menu-item.ant-menu-item-only-child {
    border-left: none;
  }
  .ant-menu-inline > .ant-menu-item {
    padding: 20px !important;
    height: unset;
    border-bottom: 1px solid @light-gray;
    margin: 0;
  }
}

.app-account-menu {
  font-size: 18px;
  border-left: 1px solid @light-gray;
  top: 0;
  height: 62vh;
  overflow: auto;
  > .ant-menu-item.ant-menu-item-only-child {
    font-size: 18px;
    border-left: 1px solid @light-gray;
    top: 0;
  }
}
// Required on account settings pages
.account-settings-wrapper .app-footer-wrapper {
  margin-top: 0;
}

main > #page-header {
  @media (min-width: 1200px) {
    margin-bottom: 10px;
  }

  .ant-menu-horizontal {
    padding-bottom: 13px;

    @media (min-width: 768px) and (max-width: 1024px) {
      margin-bottom: 10px;
    }
  }

  li {
    border: none;
    margin: 0;

    &.ant-menu-item:not(:last-of-type):not(.logout-btn):not(.login) {
      border-right: 1px solid #000;
    }

    &.logout-btn {
      height: 20px;
      display: inline-block;
      line-height: normal;
    }

    &:hover  {
      background-color: #e6e6e6;
    }

    a {
      font-size: 14.72px;
      line-height: normal;
      padding: 1px 10px;
    }
  }
}